* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    /* font-family: langar; */
    font-family: 'Bungee Outline', cursive;
}
body {
    background-color: darkslateblue;
}
.container {
    text-align: center;
    margin:  0 auto;
    color: white;
    max-width: 800px;
    padding: 25px;
    background: url('../photos/klipartz.com.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.container h1{
    font-size: 3.5rem;
}

.modes button {
    padding: 5px 10px;
    background-color: darkslategrey;
    border: none;
    color: white;
    font-family: langar;
    margin: 10px;
    cursor: pointer;
    outline: none;
}

#start {
    padding: 10px 25px;
    color: darkslategray;
    background-color: darkslategrey;
    color: white;
    border: none;
    outline: none;
    margin: 10px;
    font-family: langar;
    cursor: pointer;
}
.grid {
    height: 400px;
    width: 800px;
    border: 2px solid white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: darkslategrey;
}
.grid .square {
    height: 40px;
    width: 40px;
}
.snake {
    background-color: steelblue;
    transition: transform 300ms linear;
}
.apple {
    /* background-color: red; */
    background: url('../photos/apple.png');
    /* border-radius: 50%; */
    background-repeat: no-repeat;
    background-size: contain;
}
@media only screen and (max-width: 800px) {
    .container h1 {
        font-size: 1.5rem;
    }
    #start {
        padding: 5px 10px;
    }
    .grid {
        height: 200px;
        width: 400px;
    }
    .grid .square {
        height: 20px;
        width: 20px;
    }
}